@model EnglynionBedd.Endidau.GwybodaethDelwedd

<h2>Llwytho Delwedd</h2>

<hr />
<form asp-action="ArbedBeddargraff" class="form-inline">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <img src="@Model.CyfeiriadDelwedd" style="max-width: 100%" />
                <input asp-for="CyfeiriadDelwedd" type="hidden" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <p>Gallwch wirio'r testun yn y blychau canlynol ac yna ei gopïo a'i ludio i'r blychau priodol gyferbyn.</p>
            </div>
            @{
                foreach (var line in Model.recognitionResult.lines)
                {
                    <div class="form-group">
                        <input class="entry form-control" value="@line.text" draggable="true" name="Llinellau" />
                        <a class="btn btn-default" href="#"><i class="fa fa-fw fa-copy"></i></a>
                    </div>
                }
            }
            <div class="form-group">
                <input type="submit" value="Arbed" class="btn btn-default" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <p>Llanwch y canlynol, a gwirio'r testun os y mynnech, cyn arbed yr englyn i'r fas-ddata.</p>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        @Html.DisplayNameFor(model => model.EnwBedd)<input asp-for="EnwBedd" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        @Html.DisplayNameFor(model => model.Mynwent) <input asp-for="Mynwent" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        @Html.DisplayNameFor(model => model.Dyddiad) <input asp-for="Dyddiad" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        @Html.DisplayNameFor(model => model.Llinell1) <input asp-for="Llinell1" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        @Html.DisplayNameFor(model => model.Llinell1) <input asp-for="Llinell2" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                         @Html.DisplayNameFor(model => model.Llinell1) <input asp-for="Llinell3" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                         @Html.DisplayNameFor(model => model.Llinell1) <input asp-for="Llinell4" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        @Html.DisplayNameFor(model => model.Bardd) <input asp-for="Bardd" />
                    </label>
                </div>
            </div>

        </div>
    </div>
</form>
