@model EnglynionBedd.Endidau.GwybodaethDelwedd

<h2>Llwytho Delwedd</h2>

<hr />
<form asp-action="ArbedBeddargraff" class="form-inline">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <img src="@Model.CyfeiriadDelwedd" style="max-width: 100%" />
                <input asp-for="CyfeiriadDelwedd" type="hidden" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <p>Gallwch wirio'r testun yn y blychau canlynol ac yna ei gopïo a'i ludio i'r blychau priodol gyferbyn.</p>
            </div>
            
            <div class="form-group">
                @{foreach (var line in Model.recognitionResult.lines)
                  {
                      <input class="form-control-lg" value="@line.text" draggable="true" name="Llinellau" />
                      <button class="btn btn-default copi" type="button"><i class="fa fa-fw fa-copy" title="Copïo"></i></button>
                  }

                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-row">
                <p>Llanwch y canlynol, a gwirio'r testun os y mynnech, cyn arbed yr englyn i'r fas-ddata.</p>
            </div>
            <div class="form-row">
                <div class="col">
                    @Html.DisplayNameFor(model => model.EnwBedd)
                </div>
                <div class="col">
                    <input asp-for="EnwBedd" id="enwBedd" />
                    <button class="btn btn-default gludo" type="button" onclick="gludo('enwBedd')"><i class="fa fa-fw fa-paste" title="Gludo"></i></button>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    @Html.DisplayNameFor(model => model.Mynwent)
                </div>
                <div class="col">
                    <input asp-for="Mynwent" />
                    <button class="btn btn-default gludo" type="button"><i class="fa fa-fw fa-paste" title="Gludo"></i></button>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    @Html.DisplayNameFor(model => model.Dyddiad)
                </div>
                <div class="col">
                    <input asp-for="Dyddiad" />
                    <button class="btn btn-default gludo" type="button"><i class="fa fa-fw fa-paste" title="Gludo"></i></button>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    @Html.DisplayNameFor(model => model.Llinell1)
                </div>
                <div class="col">
                    <input asp-for="Llinell1" />
                    <button class="btn btn-default gludo" type="button"><i class="fa fa-fw fa-paste" title="Gludo"></i></button>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    @Html.DisplayNameFor(model => model.Llinell1)
                </div>
                <div class="col">
                    <input asp-for="Llinell2" />
                    <button class="btn btn-default gludo" type="button"><i class="fa fa-fw fa-paste" title="Gludo"></i></button>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    @Html.DisplayNameFor(model => model.Llinell1)
                </div>
                <div class="col">
                    <input asp-for="Llinell3" />
                    <button class="btn btn-default gludo" type="button"><i class="fa fa-fw fa-paste" title="Gludo"></i></button>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    @Html.DisplayNameFor(model => model.Llinell1)
                </div>
                <div class="col">
                    <input asp-for="Llinell4" />
                    <button class="btn btn-default gludo" type="button"><i class="fa fa-fw fa-paste" title="Gludo"></i></button>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    @Html.DisplayNameFor(model => model.Bardd)
                </div>
                <div class="col">
                    <input asp-for="Bardd" />
                    <button class="btn btn-default gludo"><i class="fa fa-fw fa-paste" title="Gludo"></i></button>
                </div>
            </div>
            <div class="form-row">
                <input type="submit" value="Arbed" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var testun

            $('.copi').click(
                function () {
                    testun = this.previousElementSibling.value;
                });
            $('.gludo').click(
                function () {
                    this.previousElementSibling.value = testun;
                });
        });
    </script>

}
