@model EnglynionBedd.Endidau.GwybodaethDelwedd

<h2>Llwytho Delwedd</h2>

<hr />
<form asp-action="ArbedBeddargraff">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <img src="@Model.CyfeiriadDelwedd" style="max-width: 100%"/>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        <input asp-for="EnwBedd" /> @Html.DisplayNameFor(model => model.EnwBedd)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        <input asp-for="Mynwent" /> @Html.DisplayNameFor(model => model.Mynwent)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        <input asp-for="Dyddiad" /> @Html.DisplayNameFor(model => model.Dyddiad)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Arbed" class="btn btn-default" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @{
                    foreach (var line in Model.recognitionResult.lines)
                    {
                        <input class="form-control" value="@line.text" name="Llinellau"/>
                    }
                }
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

