@model EnglynionBedd.Endidau.GwybodaethDelwedd

<h2>Llwytho Delwedd</h2>

<hr />
<form asp-action="ArbedBeddargraff">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <img src="@Model.CyfeiriadDelwedd" style="max-width: 100%" />
                <input asp-for="CyfeiriadDelwedd" type="hidden" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <p>Gallwch wirio'r testun yn y blychau canlynol ac yna ei gopio a'i ludio i'r blychau priodol gyferbyn.</p>
            </div>
            @{
                foreach (var line in Model.recognitionResult.lines)
                {
                    <div class="form-group">
                        <input class="entry form-control" value="@line.text" draggable="true" name="Llinellau" />
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                }
            }
            <div class="form-group">
                <input type="submit" value="Arbed" class="btn btn-default" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <p>Llanwch y canlynol, a gwirio'r testun os y mynnech, cyn arbed yr englyn i'r fas-ddata.</p>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        <input asp-for="EnwBedd" /> @Html.DisplayNameFor(model => model.EnwBedd)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        <input asp-for="Mynwent" /> @Html.DisplayNameFor(model => model.Mynwent)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        <input asp-for="Dyddiad" /> @Html.DisplayNameFor(model => model.Dyddiad)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        <input asp-for="Llinell1" /> @Html.DisplayNameFor(model => model.Llinell1)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        <input asp-for="Llinell2" /> @Html.DisplayNameFor(model => model.Llinell1)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        <input asp-for="Llinell3" /> @Html.DisplayNameFor(model => model.Llinell1)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        <input asp-for="Llinell4" /> @Html.DisplayNameFor(model => model.Llinell1)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label>
                        <input asp-for="Bardd" /> @Html.DisplayNameFor(model => model.Bardd)
                    </label>
                </div>
            </div>

        </div>
    </div>
</form>
